.mnist/*
__pycache__/
tiny-image-net-dbg/*
tiny-image-net/*
experiment_service_pb2.py
experiment_service_pb2_grpc.py
data/*
fashion-mnist-dev/*
cifar-10-batches-py/*
cifar-10-python.tar.gz
cifar-100-python.tar.gz
cifar-100-python/*
cifar10*/
cad_models/*
.ipynb_checkpoint*
*.ipynb
*.pt
fashion-mnist-demo/*
hct-dev/*
root_experiment/*
*_exp.py
mnist\ (another copy)/*
mnist\ (copy)/*
requirements\ copy.txt
readme_old.md
test_seg/*
vad/*
out/*